<a href="https://colab.research.google.com/github/IImbryk/NMA_MindBigData/blob/work/Main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from google.colab import drive

In [2]:
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
path_dir = '/content/drive/MyDrive/Data Brain MNIST'

In [4]:
file_name =  ['/MindBigData-EP-v1.0/EP1.01.txt',
              '/MindBigData-IN-v1.06/IN.txt',
              '/MindBigData-MU-v1.0/MU.txt',
              '/MindBigData-MW-v1.0/MW.txt']

In [16]:
pd.read_csv(path_dir+file_name[2], sep="\t", header=None, nrows=99 )

         0       1  ...    5                                                  6
0   978111  132669  ...  459  475,474,477,486,486,476,479,483,489,483,482,48...
1   978112  132669  ...  459  468,487,493,493,498,493,491,490,492,487,483,48...
2   978113  132669  ...  459  482,475,490,500,485,470,470,482,490,484,478,48...
3   978114  132669  ...  459  470,470,478,489,487,475,469,478,488,483,474,48...
4   978115  132670  ...  493  506,499,495,491,492,507,496,500,498,496,499,50...
..     ...     ...  ...  ...                                                ...
94  978205  132692  ...  476  553,495,496,506,503,500,510,505,494,491,485,48...
95  978206  132692  ...  476  505,480,479,485,487,478,478,485,487,486,482,48...
96  978207  132693  ...  476  501,513,509,500,504,495,499,499,493,497,503,50...
97  978208  132693  ...  476  507,519,519,514,513,513,512,514,510,506,513,51...
98  978209  132693  ...  476  515,498,493,496,495,495,499,493,497,491,494,49...

[99 rows x 7 columns]