<a href="https://colab.research.google.com/github/IImbryk/NMA_MindBigData/blob/work/Main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [115]:
import pandas as pd
import numpy as np
from google.colab import drive

In [116]:
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [117]:
path_dir = '/content/drive/MyDrive/Data Brain MNIST'

In [118]:
file_name =  ['/MindBigData-EP-v1.0/EP1.01.txt',
              '/MindBigData-IN-v1.06/IN.txt',
              '/MindBigData-MU-v1.0/MU.txt',
              '/MindBigData-MW-v1.0/MW.txt']

In [119]:
#load data
data_2 = pd.read_csv(path_dir+file_name[2], sep="\t", header=None, nrows=99)
data = data_2.copy(deep=True)

In [120]:
def found_min_count_eeg(data, sep_symb=',', num_column = 6):
  """
  to find the minimum number of values EEG
  """
  min_count = 1000
  for row in data[num_column]:
    cur_count = row.count(',')
    min_count = cur_count if cur_count < min_count else min_count
  return min_count

In [121]:
def found_max_count_eeg(data, sep_symb=',', num_column = 6):
  """
  to find the max number of values EEG
  """
  max_count = 0
  for row in data[num_column]:
    cur_count = row.count(',')
    max_count = cur_count if cur_count > max_count else max_count
  return max_count

In [122]:
max_len = found_min_count_eeg(data)
columns_name = ['eeg'+str(x) for x in range(max_len)]

In [123]:
mat = np.matrix(data[6][0].split(",")[0:max_len])
for i in range(1, len(data)):
  mat = np.append(mat,np.matrix(data[6][i].split(",")[0:max_len]), axis=0)

In [124]:
df_new = pd.concat([data, pd.DataFrame(mat, columns=columns_name)], axis=1)

In [125]:
df_new.head()

        0       1   2     3  4    5  ... eeg435 eeg436 eeg437 eeg438 eeg439 eeg440
0  978111  132669  MU   TP9  6  459  ...    516    520    519    519    514    515
1  978112  132669  MU   FP1  6  459  ...    511    515    507    512    511    506
2  978113  132669  MU   FP2  6  459  ...    498    508    508    508    502    499
3  978114  132669  MU  TP10  6  459  ...    514    528    518    517    508    514
4  978115  132670  MU   TP9  7  493  ...    526    532    532    525    521    536

[5 rows x 448 columns]

In [126]:
# переименовать столбцы!